exportPattern("^[[:alpha:]]+")
#' @import magrittr
#' @import shiny
#' @import miniUI
#' @import rstudioapi
#' @import data.table
#' @import readr
#' @import openxlsx
#' @importFrom purrr map
#' @import openxlsx
